@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

/*************************** ALL SUB PAGES STYLING ****************************/
/* HTML STYLING */
html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.index_pg {
  background: #4d91ff;
}

.about_pg {
  background: #9999ff;
}

.art_photos_pg {
  background: #ffb8ff;
}

/* GENERIC TAGS */
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* COLOR DEFINITIONS */
.red {
  color: #333333;
}

.red:hover {
  color: #FF4544;
}

.orange {
  color: #333333;
}

.orange:hover {
  color: #FCA503;
}

.yellow {
  color: #333333;
}

.yellow:hover {
  color: #FFE766;
}

.green {
  color: #333333;
}

.green:hover {
  color: #33DD88;
}

.blue {
  color: #333333;
}

.blue:hover {
  color: #3388FF;
}

.purple {
  color: #333333;
}

.purple:hover {
  color: #AA88FF;
}

.black {
  color: #333333;
}

.white {
  color: #333333;
}

.white:hover {
  color: #FFFFFF;
}

/* BODY STYLING */
body {
  top: 5%;
  width: 100%;
  height: auto;

  position: absolute;
}

/* CONTENT CLASS STYLING */
.content {
  width: 100%;
  height: auto;

  position: relative;
  text-align: center;
}

.content .profile_pics img {
  border-radius: 50%;
  width: 20%;
  height:auto;
  position: relative;
}

.content .profile_pics a:hover img {
  transition: .25s;
  box-shadow: 0 0 0 10pt #333333;
}

.content h1 {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 300%;
  text-transform: uppercase;

  color: #FFFFFF;

  margin-top: 1%;
  margin-bottom: 0%;
}

/*************************** HOME PAGE and ABOUT ME PAGE STYLING ****************************/

.content .writeup_wrapper {
  margin-top: -2%;
}

.content .writeup h2 {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 200%;
  text-transform: uppercase;

  color: #FFFFFF;
  display: inline-block;
  text-align: left;

  width: 55%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.content .writeup h3 {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 120%;
  text-transform: uppercase;
  font-style: italic;

  color: #FFFFFF;
  display: inline-block;
  text-align: left;

  width: 55%;
  margin-top: 1%;
  margin-bottom: 0%;
}

.content .writeup p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 100%;
  text-transform: uppercase;

  line-height: 1.5;

  color: #FFFFFF;
  display: inline-block;
  text-align: left;

  width: 55%;
  margin-top: 1%;
  margin-bottom: 0%;
}

@media (max-device-width: 800px) {

  .content .profile_pics img {
    border-radius: 50%;
    width: 40%;
    height:auto;
    position: relative;
  }

  .content h1 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 350%;
    text-transform: uppercase;
  
    color: #FFFFFF;
  
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .content .writeup p {
    width: 75%;
    font-size: 110%;
  }
}

/*************************** OTHER INFO ON THE ABOUT ME PAGE STYLING ****************************/
.content .other_info {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

  line-height: 1.5;

  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  text-align: center;

  margin-top: 1%;
  margin-bottom: 1%;
  width: 43.5%;
}

.content .other_info a {
  width: 30%;
  font-weight: 700;
  font-size: 100%;
  margin: 0%
}

.content .other_info .popup{
  width: 30%;
  font-weight: 700;
  font-size: 100%;
}

.content .other_info .popup p{
  margin: 0%
}

/************************* AFFILIATES ON ABOUT ME PAGE STYLING **************************/
.content .affiliate_pics {
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
}

.content .affiliate_pics .aff_icons {
  display: inline-block;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

.content .affiliate_pics .aff_icons a img {
  position: -50%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;

  vertical-align: middle;
  width: 100%;
  border-radius: 0%
}

.content .affiliate_pics .aff_icons a img:hover {
    opacity: .5;
    transition: .25s;
}

/*************************** CONTACT POPUP CSS ****************************/
/* Popup container - can be anything you want */
.popup {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  position: absolute;
  width: 30%;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;

  z-index: 1;
  bottom: 120%;
  left: 80%;
  margin-left: -10%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5%;
  border-width: 5%;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/************************* SOCIAL MEDIA ON HOME PAGE STYLING **************************/
.content .social_media {
  text-align: center;
}

.content .social_media_pics .icons a img {
  border-radius: 50%;
  width: 100%;
  height:auto;
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 10%;
}

.content .social_media_pics .icons {
  display: inline-block;
  width: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

a:hover img[src="imgs/icon_pics/linkedin.png"] {
  background: #AA88FF;
  transition: .25s;
}

a:hover img[src="imgs/icon_pics/github.png"] {
  background: #33DD88;
  transition: .25s;
}

a:hover img[src="imgs/icon_pics/instagram.png"] {
  background: #FF4544;
  transition: .25s;
}

/**************************** ART / PHOTOS PAGE STYLING ****************************/
.img_table {
  display: inline-block;
  text-align: center;
  width: 80%;
}

.img_row {
  display: flex;
  text-align: center;
}

/* Create two equal columns that sits next to each other */
.img_column {
  flex: 25%;
  padding: 1% 0.5%;
  text-align: center;
}

.img_column img {
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

/**************************** CREDITS PAGE STYLING ****************************/
.content .credits p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 150%;
  text-transform: uppercase;
  text-align: center;

  line-height: 2;

  color: #FFFFFF;
  display: inline-block;
  text-align: left;

  margin-top: 1%;
}
