html {
  width: 100%;
  height: auto;
  background: black;
}

*, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
}

.space_background {
    position:absolute;
    z-index:1;
    width: 100%;
    height: auto;
}

.space_background img {
    position:relative;
    width: inherit;
    height: inherit;
}

.girish_background {
  position:absolute;
  z-index:2;
  width: 100%;
  height: auto;
  filter: brightness(75%);
}

.girish_background img {
    position:relative;
    width: 100%;
    height: auto;
}

.header {
  position: absolute;
  width: 100%;
}

.header h1 { /* Girish Narayanswamy Name Tag */
  width: 100%;

  color: #ffffff;
  opacity: 0.75;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 70px;
  position: relative;
  z-index:2;
}

/* NAV STUFF DONT MESS WITH */
.main_nav { /*Navigation Bar*/
  background-color: #afd0ff;
  opacity: 0.8;

  position: relative;
  z-index:100;

  width: 100%;
}

.main_nav ul {
  list-style: none;
  line-height: 1;
  display: block;
  zoom: 1;
}

.main_nav ul li {
  display: inline-block;
}

.main_nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.main_nav ul li a:hover {
  color: #333333;
}

.main_nav ul li a:hover:before {
  width: 100%;
}

.main_nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  z-index:1;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
