@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

/*************************** ALL SUB PAGES STYLING ****************************/
/* HTML STYLING */
html {
  width: 100%;
  height: auto;
  background: #448cff;
}

/* GENERIC TAGS */
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* COLOR DEFINITIONS */
.red {
  color: #333333;
}

.red:hover {
  color: #FF4544;
}

.yellow {
  color: #333333;
}

.yellow:hover {
  color: #ffe766;
}

.green {
  color: #333333;
}

.green:hover {
  color: #33DD88;
}

.blue {
  color: #333333;
}

.blue:hover {
  color: #3388ff;
}

.purple {
  color: #333333;
}

.purple:hover {
  color: #AA88FF;
}

.black {
  color: #333333;
}

/* HEADER STYLING */
header a img {
  margin-top: 0%;
  margin-left: 3%;

  filter: invert(100%);
}

header a:hover {
  filter: invert(80%);
}

/* BODY STYLING */
body {
  top: 5%;
  width: 100%;
  height: auto;

  position: absolute;
}

/* CONTENT CLASS STYLING */
.content {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.content img[src="imgs/girish_pics/prof_pic.jpg"] {
  border-radius: 50%;
  width: 20%;
  height:auto;
  position: relative;
}

.content a:hover img[src="imgs/girish_pics/prof_pic.jpg"] {
  transition: .25s;
  box-shadow: 0 0 0 10pt #333333;
}

.content h1 {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 300%;

  color: #FFFFFF;

  margin-top: 0%;
  margin-bottom: 0%;
}

.content #project_buttons {
  table-layout: fixed;
  border-spacing:0 40px;
}

.content #project_buttons tr {
  padding-bottom: 10px;
}

.content #project_buttons img {
  border-radius: 50%;
  width: 15%;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.content #project_buttons img:hover {
  transition: .25s;
  box-shadow: 0 0 0 5pt #333333;
}

.content #project_buttons p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.project_contents {
  left: 50%;
}

.content .project_contents > div {
  display: none;
  margin-top: 2.5vw;
}

.content .project_contents img[src="imgs/icon_pics/cancel.png"] {
  border-radius: 50%;
  filter: invert(100%);
  height: auto;
  position: relative;
  cursor: pointer;

  margin-bottom: 1vw;
}

.content .project_contents img[src="imgs/icon_pics/cancel.png"]:hover {
  filter: invert(20%);
}

.content .project_contents h2 {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

.centered_imgs {
  width: 100%;
  text-align: center;
}

.project_contents p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 100%;
  text-transform: uppercase;

  line-height: 1.5;

  color: #FFFFFF;
  display: inline-block;
  text-align: left;

  margin-top: 1%;
  width: 50vw;
}

#project_cont_4 img[src="imgs/project_pics/qualcomm_banner.png"] {
  width: 40%;
}

#project_cont_4 p img[src="imgs/project_pics/qualcomm_project_1.png"] {
  width: 95%;
}
